@font-face {
    font-family: Gaia;
    src: url('RTGaiaSerif.otf'),
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CommonSans';
    src: url('CommonSans-Regular.otf'),
    font-weight: normal;
    font-style: normal;

}

body {
   font-family : Gaia;
}

.header {
  height:10em;
  position:relative;
}


.wrapper {
  overflow:hidden;
}

li {
  position:relative;
  font-size:0.8em;
  text-decoration :none;
  list-style-type: none;
  line-height:100%;
  margin:0.7em 0;
}

.menuItem:hover {
  font-family: helvetica;
}

.menuItem:hover > .dotMenu {
  opacity:1;
}

.menuItem ul {
  list-style-type: none;
  font-family : Gaia, Fallback, sans-serif;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.dot {
  height: 1.7em;
  width: 1.7em;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
  position:absolute;
}

.dotMenu {
  opacity:0;
}

.dotHeader {
  top:4em;
}

.invisible {
  display:none;
}

