@font-face {
    font-family: 'tiempos-text';
    src: url('Fonts/TiemposText-Regular.ttf') format('ttf'),
         url('Fonts/TiemposText-Italic.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Gaia';
    src: url('Fonts/RTGaiaSerif.otf') format('otf'),
    font-weight: normal;
    font-style: normal;

}

body {
  font-family:tiempos-text;
}


.wrapper {
  overflow:hidden;
}

li {
  font-size:0.8em;
  text-decoration :none;
  list-style-type: none;
  padding-left:1em;
  line-height:110%;
  margin:1em 0;
}

ul {
  padding: 0;
  list-style-type: none;
  font-family : Gaia;
}

.dot {
  height: 2em;
  width: 2em;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
  position:absolute;
  top:1em;
  right:5em;
}
